.clients {
  @extend %section;

  @include mq (desktop) {
    padding: 94px 0;
  }
}

.clients__title {
  @extend %section-title;
  margin-bottom: 30px;

  @include mq (desktop) {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

.clients__list {
  @extend %list;
  display: flex;

  @include mq (notDesktop) {
    flex-wrap: wrap;
    margin-top: -1 * $card-set-gap;
    margin-left: -1 * $card-set-gap;
  }

  @include mq (desktop) {
    justify-content: center;
  }  
}

.clients__item {
height: 92px;

@include mq (mobile-only) {
  width: calc((100% - 60px)/2);
}

@include mq (notDesktop) {
  margin-top: $card-set-gap;
  margin-left: $card-set-gap;
}

@include mq (tablet-only) {
  width: calc((100% - 90px)/3);
}

@include mq (desktop) {
  width: 170px;
  
  &:not(:last-child) {
    margin-right: $card-set-gap;
  }
}
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: rgba(175, 177, 184, 1);

  &:hover,
  &:focus {
    fill: $accent-color;
    border: 1px solid $accent-color;
  }
}

.clients__icon {
  display: block;
  width: 106px;
  height: 60px;
}
