.contacts-nav {
  @extend %list;
  // display: flex;
  margin-left: auto;
}

// .contacts-nav__item:not(:last-child) {
//   margin-right: 50px;
// }

.contacts-nav__link {
  // display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: $primery-text-color;
  fill: $primery-text-color;

  &:hover,
  &:focus {
    color: $accent-color;
    fill: $accent-color;
  }

  .contacts-nav__icon1 {
    width: 16px;
    height: 12px;
    margin-right: 10px;
  }

  .contacts-nav__icon2 {
    width: 10px;
    height: 16px;
    margin-right: 10px;
  }
}
