.contacts-nav {
  @extend %list;  
 
  @include mq (mobile-only) {
  margin-bottom: 64px;
  }

  @include mq (desktop) {
    display: flex;
    align-items: center;
  }
}

.contacts-nav__item:not(:last-child) {
  @include mq (mobile-only) {
    margin-bottom: 32px;
  }

  @include mq (tablet-only) {
    margin-bottom: 10px;
  }

  @include mq (desktop) {
    margin-right: 50px;
  }
}

.contacts-nav__link {
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: $primery-text-color;
  fill: $primery-text-color;

  &:hover,
  &:focus {
    color: $accent-color;
    fill: $accent-color;
  }

  @include mq (mobile-only) {
  &--mobile {
    font-size: 34px;
    line-height: 1.18;
    color: $accent-color;
  }
  }

  @include mq (desktop) {
  font-size: 14px;
  line-height: 1.14; 
  }

  @include mq (tablet-only) {
    font-size: 12px;
    line-height: 1.17;
  } 
}

  .contacts-nav__icon1 {
    width: 16px;
    height: 12px;
    margin-right: 8px;

    @include mq (mobile-only) {
      display: none;
    }

    @include mq (desktop) {
      margin-right: 10px;
    }
  }

  .contacts-nav__icon2 {
    width: 10px;
    height: 16px;
    margin-right: 8px;

    @include mq (mobile-only) {
      display: none;
    }

    @include mq (desktop) {
      margin-right: 10px;
    }
  }

