.features {
  @extend %section;

  @include mq (desktop) {
    padding: 94px 0px;
  }
}

.features__title {
  @extend %section-title;
  @extend %visually-hidden;
}

.features__list {
  @extend %list;
  
  @include mq (tablet-only) {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }

  @include mq (desktop) {
    display: flex;
  }
}

.features__item {

  @include mq (mobile-only) {
    &:not(:last-child) {
      margin-bottom: $card-set-gap;
    }
  }

  @include mq (tablet-only) {
    margin-top: 30px;
    margin-left: 30px;
    width: calc((100% - 60px)/2);
  }

  @include mq (desktop) {
    &:not(:last-child) {
      margin-right: $card-set-gap;
    }
  }
}

.features__thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: $secondary-bg-color;
  border-radius: 4px;
}

.features__icon {
  width: 70px;
  height: 70px;
}

.features__inner-title {
  margin-bottom: 10px;
  color: $title-text-color;

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  @include mq (mobile-only) {
    text-align: center;
  }
}

.features__text {
  font-size: 14px;
  line-height: 1.7;
}
