.features {
  @extend %section;
}

@media screen and (min-width: $desktop) {
  .features {
    @extend %section--mode-desktop;
  }
}

// @media screen and (min-width: $desktop) {
//   .features {
//     padding: 94px 0px;
//   }
// }

.features__title {
  @extend %section-title;
  @extend %visually-hidden;
}

.features__list {
  @extend %list;
  // display: flex;
}

// .features__item:not(:last-child) {
//   margin-right: $card-set-gap;
// }

.features__item {
  @media screen and (max-width: $tablet) {
    &:not(:last-child) {
      margin-bottom: $card-set-gap;
    }
  }
}

.features__thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: $secondary-bg-color;
  border-radius: 4px;
}

.features__icon {
  width: 70px;
  height: 70px;
}

.features__inner-title {
  color: $title-text-color;

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  margin-bottom: 10px;
}

.features__text {
  font-size: 14px;
  line-height: 1.7;
}
