.footer {
  padding: 60px 0px;
  background-color: $third-bg-color;
}

.footer__columns {
@media screen and (min-width: $tablet) {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
align-items: baseline;
}

@media screen and (min-width: $tablet) {
  justify-content: space-between;
}
 
}

.info {

  @media screen and (max-width: $desktop) {
    margin-bottom: 60px;
    text-align: center;
  }
 
  // flex-grow: 1;
  // margin-right: 70px;
}

.address {
  font-style: normal;
}

.address__list {
  @extend %list;
}

.address__item:not(:last-child) {
  margin-bottom: 10px;
}

.address__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: rgba(255, 255, 255, 0.6);

  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;

  &--white {
    color: $primery-white-color;
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.join-us {
    @media screen and (max-width: $desktop) {
      margin-bottom: 60px;
      text-align: center;
    }
  // margin-right: 93px;
}

.join-us__title {
  @extend %footer-title;
}

.join-us__list {
  @extend %list;
  display: flex;
  justify-content: center;
}

.join-us__item {
  width: 44px;
  height: 44px;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.join-us__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: rgba(255, 255, 255, 0.1);
  fill: $primery-white-color;
  border-radius: 50%;

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.join-us__icon {
  display: block;
  width: 20px;
  height: 20px;
}

.subscribe__title {
  @extend %footer-title;
}

.subscribe {
  @media screen and (max-width: $desktop) {
    text-align: center;
  }
}

.subscribe__form {  
  @media screen and (min-width: $desktop) {
display: flex;
  }
  
}

.subscribe__input {
  // width: 70px;
  
  height: 50px;
  padding: 0 0 0 16px;
  
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: $third-bg-color;
  outline: none;

  @media screen and (max-width: $desktop) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: $mobile) and (max-width: $desktop) {
width: 450px; }

@media screen and (min-width: $desktop) {
width: 358px;
margin-right: 12px;
}
}

.subscribe__btn {
  @extend %btn;
  @extend %btn-primery;
  
width: 200px;
height: 50px;
  padding-top: 10px 28px 10px 29px;
 
  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  // @media screen and (min-width: $mobile) {

  // }

  @media screen and (max-width: $desktop) {
    margin: 0 auto;
  }
}

.subscribe__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
