.header {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ececec;

  @include mq (tablet) {
          padding-top: 21px;
          padding-bottom: 21px;
  }

    @include mq (desktop) {
        padding-top: 24px;
        padding-bottom: 25px;
    }
}



.header__nav {
  display: flex;
  align-items: center;
}

.menu-btn {
  position: relative;
  // top: 10px;
  // right: auto;
  z-index: 2;
  margin-left: auto;
  padding: 0;
  width: 40px;
  height: 40px;
  border: 0px;
  cursor: pointer;
  background-color: transparent;
  fill: $title-text-color;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover, &:focus {
fill: $accent-color;
  }

  @include mq (tablet) {
display: none;
  }
 }

.menu-btn__icon-cross {
  display: none;
  width: 100%;

  .menu-btn.is-open & {
    display: block;
  }

}

.menu-btn__icon-menu {
width: 100%;

    .menu-btn.is-open & {
      display: none;
    }
}

.menu-container {
 
background-color: $primery-white-color;

  &.is-open {
    display: block;
    z-index: 1;
  } 

  @include mq (mobile-only) {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  // height: 796px;
  height: auto;

  padding: 48px 40px;
    } 

@include mq (tablet) {
display: flex;
justify-content: space-between;
align-items: center;
flex-grow: 1;
      }
}
