// padding: 200px 0px;
// height: 600px;
// max-width: 1600px;

.hero {
  padding: 118px 0px;
  height: 400px;
  // max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.3), rgba(47, 48, 58, 0.4)),
    url(../images/Image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;

  @media screen and (min-width: $mobile) {
    width: $mobile;
  }

  @media screen and (min-width: $tablet) {
    width: $tablet;
  }

  @media screen and (min-width: $desktop) {
    width: 1600px;
  }
}

.hero__title {
  color: $primery-white-color;

  font-weight: 900;
  // font-size: 44px;
  // line-height: 1.36;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;

  margin-bottom: 30px;
}

.hero__btn {
  @extend %btn;
  @extend %btn-primery;
  display: block;
  padding: 10px 32px;
  margin-bottom: 0px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
