.socials-nav {
    @extend %list;
    display: flex;
    position: relative;

    @media screen and (min-width: $tablet) {
        display: none;
    }
}

.socials-nav__item {
        &:not(:last-child) {
            margin-right: 10px;
        }
}


.socials-nav__link {
    // position: relative;
    // display: flex;
    color: $accent-color;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    
    letter-spacing: 0.02em;
    text-decoration: none;

    // &--bordered {
    // }

    &--bordered::after {               
content: '';
height: 100%;  
margin-left: 10px;                           
border: 1px solid rgba(33, 33, 33, 0.2);
                
            }
}
