.team {
  @extend %section;
  background-color: $secondary-bg-color;

  @media screen and (min-width: $desktop) {
    padding: 94px 0px;    
  }
}

.team__title {
  @extend %section-title;
  margin-bottom: 30px;

  @media screen and (min-width: $desktop) {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.team__list {
  @extend %list;

  @media screen and (min-width: $tablet) and (max-width: $desktop) {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }

  @media screen and (min-width: $desktop) {
display: flex;
  }
  
}

.team__member {
  // width: 270px;
  background-color: $primery-white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (min-width: $mobile) and (max-width: $tablet) {
    width: 450px;
    height: auto;
  }

  @media screen and (max-width: $tablet) {
    &:not(:last-child) {
    margin-bottom: $card-set-gap;
  }
}

  @media screen and (min-width: $tablet) and (max-width: $desktop) {
    margin-top: 30px;
    margin-left: 30px;
    width: calc((100% - 60px)/2);
    height: auto;  
  }

  @media screen and (min-width: $desktop) {
    &:not(:last-child) {
  margin-right: $card-set-gap;
}
}
}
 
 .team__pic {
   width: 100%;
 }

.team__content {
  padding: 30px 0px 24px;

  @media screen and (min-width: $desktop) {
    padding-bottom: 30px;
  }
}

.team__name {
  margin-bottom: 10px;

  color: $title-text-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team__pos {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.socials-list {
  @extend %list;
  display: flex;
  justify-content: center;
}

.socials__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.socials__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  fill: #afb1b8;

  &:hover,
  &:focus {
    background-color: $accent-color;
    fill: $primery-white-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.socials__icon {
  display: block;
  width: 20px;
  height: 20px;
}
