.welcome {    
    position: relative;
    @include mq (desktop) {
            height: 400px;
        }

                 @include mq (tablet-only) {
                    height: 600px;
                    margin-bottom: 80px;
                 }
    
}

.welcome__wrapper {
    
    position: absolute;

    @include mq (tablet) {
            transform: translateY(-15%) translateX(0%);
                    }
    @include mq (tabletBig) {
        transform: translateY(-15%) translateX(-10%);
        
        }
    @include mq (desktop) {
        display: flex;
            transform: translateY(-25%) translateX(3%);
        }
    
}

.welcome__img-wrapper {

    @include mq (tablet-only) {
            width: 600px;       
            height: auto;     
        }
    @include mq (desktop) {
            width: 530px;
                height: 355px;
        }
   
}



.welcome__content {
    padding: 40px 50px;
    text-align: left;
    @include mq (desktop) {
            width: 500px;
        }
}

.welcome__title{
    @extend %section-title;
    text-align: left;
    line-height: 1.5;
    margin-bottom: 52px;
}

.welcome__title--colored {
    @extend %section-title--secondary;
}

.welcome__button {
    @extend %btn;
}

