%section {
  padding: 60px 0px;
}

%section--mode-desktop {
  padding: 94px 0px;
}

%section-title {
  color: $title-text-color;

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

%visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

%list {
  list-style: none;
}

%btn {
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
}

%btn-primery {
  font-family: $main-font;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  background-color: $accent-color;
  color: $primery-white-color;
}

%footer-title {
  margin-bottom: 20px;
  color: $primery-white-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

%modal-input {
  margin: 0;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
