$primery-text-color: #808080;
$title-text-color: black;;
$accent-color: #2196f3;
$primery-bg-color: black;
$primery-white-color: #ffffff;
$secondary-bg-color: #f5f4fa;
$third-bg-color: #2f303a;
$card-set-gap: 30px;
$main-font: Roboto;
$secondary-font: Raleway;
